body {
   margin: 0;
   padding: 0;   
}
/* Sidebar Menu */
.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color:#2396ef;
    overflow-x: hidden;
    padding-top: 65px ;    
}
.sidenav a {
    padding: 14px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fdfeff;
    display: block;
}
#close{
    position: relative;
    color: white;
    left: 210px;
    font-size: 22px;
}
#close:hover{
    cursor: pointer;
}
.sidenav a:hover {
    background-color: #fdfeff;
    border-left: 6px solid #3f83aa;
    text-decoration: none;
    color: #2396ef;
}
.sidenav a:active{
    background-color: #fdfeff;
    border-left: 4px solid #3f83aa;
    text-decoration: none;
    color: #2396ef;
}
.sidenav span:hover {
    color:   #fdfeff;
}
.sidenav span:active {
    color:  #fdfeff;
}
a:hover{
    transition: 0.5s ease-in-out;
    padding-left: 20px;
}
.svg{
    width: 23px;
    padding-right: 6px;
}

/* Fim da Sidebar */
/* Navbar */
#btn{
    border: none;
}
#btn:hover{
    background-color: #3c8dbc;
}
#btn:focus{
    background-color: #3c8dbc;   
}
#navbar{
    background-color: #3c8dbc !important;
    border: none;
}
#brand{
    color: #fdfeff !important;
}

/*Fim da Navbar*/


@media screen and (min-width:768px){
    #brand{
        position: fixed;
        left: 0;
        padding-left: 100px;
        width: 275px;
        color: #ffffff;
    }
    a + button{
        position: fixed;
        top: 6.5px;
        left: 280px;
        background-color: #3c8dbc !important;
        border: #3c8dbc !important;
    }
    .sidenav ~ .main{
        margin-top: 30px;
        margin-left: 260px;
    }    
}

@media screen and (max-width:769px) {
    .sidenav {
        transition: 0.4 all ease-out;
        padding-top: 65px; 
        width: 160px;
    }
    .sidenav a {
        font-size: 18px;
    }
    #expand{
        display: none;
    }
    #brand{
        color: #ffffff;
        width: 160px;
        padding-left: 35px;
    }
    .sidenav{
        width: 160px;
    }
    .main{
        margin: 30px 0 0 160px;
    }
    #close{
        position: relative;
        bottom: 40px;
        left: 130px;
        width: 14px
    }
}

section{
    height: 250px;
}
